
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.tlog/VIVI_Synth_VST3.write.1u.tlog
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.tlog/VIVI_Synth_VST3.lastbuildstate
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.tlog/rc.write.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.tlog/rc.read.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.tlog/rc.command.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.tlog/link.write.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.tlog/link.read.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.tlog/link.delete.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.tlog/link.command.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.tlog/CL.write.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.tlog/CL.read.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.tlog/CL.command.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.log
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth.vst3.recipe
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth.vst3
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth.pdb
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth.lib
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth.ilk
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth.exp
Builds/VisualStudio2017/x64/Debug/VST3/resources.res
Builds/VisualStudio2017/x64/Debug/VST3/include_juce_audio_plugin_client_VST3.obj
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Synth_StandalonePlugin.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Synth_StandalonePlugin.log
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Synth.pdb
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Synth.ilk
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Synth.exe.recipe
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Synth.exe
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Syn.DF4CDB2B.tlog/VIVI_Synth_StandalonePlugin.lastbuildstate
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Syn.DF4CDB2B.tlog/rc.write.1.tlog
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Syn.DF4CDB2B.tlog/rc.read.1.tlog
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Syn.DF4CDB2B.tlog/rc.command.1.tlog
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Syn.DF4CDB2B.tlog/link.write.1.tlog
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Syn.DF4CDB2B.tlog/link.read.1.tlog
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Syn.DF4CDB2B.tlog/link.command.1.tlog
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Syn.DF4CDB2B.tlog/CL.write.1.tlog
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Syn.DF4CDB2B.tlog/CL.read.1.tlog
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Syn.DF4CDB2B.tlog/CL.command.1.tlog
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/resources.res
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/include_juce_audio_plugin_client_Standalone.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/VIVI_Synth_SharedCode.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2017/x64/Debug/Shared Code/VIVI_Synth_SharedCode.log
Builds/VisualStudio2017/x64/Debug/Shared Code/VIVI_Synth.pdb
Builds/VisualStudio2017/x64/Debug/Shared Code/VIVI_Synth.lib.recipe
Builds/VisualStudio2017/x64/Debug/Shared Code/VIVI_Synth.lib
Builds/VisualStudio2017/x64/Debug/Shared Code/VIVI_Syn.D8F1E292.tlog/VIVI_Synth_SharedCode.lastbuildstate
Builds/VisualStudio2017/x64/Debug/Shared Code/VIVI_Syn.D8F1E292.tlog/Lib.command.1.tlog
Builds/VisualStudio2017/x64/Debug/Shared Code/VIVI_Syn.D8F1E292.tlog/Lib-link.write.1.tlog
Builds/VisualStudio2017/x64/Debug/Shared Code/VIVI_Syn.D8F1E292.tlog/Lib-link.read.1.tlog
Builds/VisualStudio2017/x64/Debug/Shared Code/VIVI_Syn.D8F1E292.tlog/CL.write.1.tlog
Builds/VisualStudio2017/x64/Debug/Shared Code/VIVI_Syn.D8F1E292.tlog/CL.read.1.tlog
Builds/VisualStudio2017/x64/Debug/Shared Code/VIVI_Syn.D8F1E292.tlog/CL.command.1.tlog
Builds/VisualStudio2017/x64/Debug/Shared Code/PluginProcessor.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/PluginEditor.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/json_builder.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/json.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_gui_extra.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_gui_basics.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_graphics.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_events.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_data_structures.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_core.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_utils.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_processors.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_plugin_client_utils.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_formats.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_devices.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_basics.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/genlib.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/gen_exported.obj
Builds/VisualStudio2017/VIVI_Synth_VST3.vcxproj.user
Builds/VisualStudio2017/VIVI_Synth_VST3.vcxproj.filters
Builds/VisualStudio2017/VIVI_Synth_VST3.vcxproj
Builds/VisualStudio2017/VIVI_Synth_StandalonePlugin.vcxproj.user
Builds/VisualStudio2017/VIVI_Synth_StandalonePlugin.vcxproj.filters
Builds/VisualStudio2017/VIVI_Synth_StandalonePlugin.vcxproj
Builds/VisualStudio2017/VIVI_Synth_SharedCode.vcxproj.user
Builds/VisualStudio2017/VIVI_Synth_SharedCode.vcxproj.filters
Builds/VisualStudio2017/VIVI_Synth_SharedCode.vcxproj
Builds/VisualStudio2017/VIVI_Synth.sln
Builds/VisualStudio2017/resources.rc
Builds/VisualStudio2017/.vs/VIVI_Synth/v16/Solution.VC.db
Builds/VisualStudio2017/.vs/VIVI_Synth/v16/ipch/AutoPCH/f23a7488ce6143e1/PLUGINEDITOR.ipch
Builds/VisualStudio2017/.vs/VIVI_Synth/v16/ipch/AutoPCH/3b5556c5cb7c1d8e/PLUGINPROCESSOR.ipch
Builds/VisualStudio2017/.vs/VIVI_Synth/v16/Browse.VC.db
Builds/VisualStudio2017/.vs/VIVI_Synth/v16/.suo
Builds/VisualStudio2017/.vs/VIVI_Synth/v15/Solution.VC.db
Builds/VisualStudio2017/.vs/VIVI_Synth/v15/ipch/AutoPCH/b06f40499684c964/INCLUDE_JUCE_AUDIO_PROCESSORS.ipch
Builds/VisualStudio2017/.vs/VIVI_Synth/v15/ipch/AutoPCH/94f0de524cd443ff/GEN_EXPORTED.ipch
Builds/VisualStudio2017/.vs/VIVI_Synth/v15/ipch/AutoPCH/5da11a7193e2a969/VSTCOMPONENT.ipch
Builds/VisualStudio2017/.vs/VIVI_Synth/v15/ipch/AutoPCH/5817fe3bc61b28d3/JUCE_AUDIO_DEVICES.ipch
Builds/VisualStudio2017/.vs/VIVI_Synth/v15/ipch/AutoPCH/3f9e438c57847543/PLUGINEDITOR.ipch
Builds/VisualStudio2017/.vs/VIVI_Synth/v15/Browse.VC.db
Builds/VisualStudio2017/.vs/VIVI_Synth/v15/.suo
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.tlog/VIVI_Synth_VST3.write.1u.tlog
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.tlog/VIVI_Synth_VST3.lastbuildstate
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.tlog/rc.write.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.tlog/rc.read.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.tlog/rc.command.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.tlog/link.write.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.tlog/link.read.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.tlog/link.delete.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.tlog/link.command.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.tlog/CL.write.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.tlog/CL.read.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.tlog/CL.command.1.tlog
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth_VST3.log
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth.vst3.recipe
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth.vst3
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth.pdb
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth.lib
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth.ilk
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth.exp
Builds/VisualStudio2017/x64/Debug/VST3/resources.res
Builds/VisualStudio2017/x64/Debug/VST3/include_juce_audio_plugin_client_VST3.obj
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Synth_StandalonePlugin.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Synth_StandalonePlugin.log
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Synth.pdb
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Synth.ilk
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Synth.exe.recipe
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Synth.exe
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Syn.DF4CDB2B.tlog/VIVI_Synth_StandalonePlugin.lastbuildstate
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Syn.DF4CDB2B.tlog/rc.write.1.tlog
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Syn.DF4CDB2B.tlog/rc.read.1.tlog
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Syn.DF4CDB2B.tlog/rc.command.1.tlog
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Syn.DF4CDB2B.tlog/link.write.1.tlog
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Syn.DF4CDB2B.tlog/link.read.1.tlog
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Syn.DF4CDB2B.tlog/link.command.1.tlog
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Syn.DF4CDB2B.tlog/CL.write.1.tlog
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Syn.DF4CDB2B.tlog/CL.read.1.tlog
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Syn.DF4CDB2B.tlog/CL.command.1.tlog
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/resources.res
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/include_juce_audio_plugin_client_Standalone.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/VIVI_Synth_SharedCode.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2017/x64/Debug/Shared Code/VIVI_Synth_SharedCode.log
Builds/VisualStudio2017/x64/Debug/Shared Code/VIVI_Synth.pdb
Builds/VisualStudio2017/x64/Debug/Shared Code/VIVI_Synth.lib.recipe
Builds/VisualStudio2017/x64/Debug/Shared Code/VIVI_Synth.lib
Builds/VisualStudio2017/x64/Debug/Shared Code/VIVI_Syn.D8F1E292.tlog/VIVI_Synth_SharedCode.lastbuildstate
Builds/VisualStudio2017/x64/Debug/Shared Code/VIVI_Syn.D8F1E292.tlog/Lib.command.1.tlog
Builds/VisualStudio2017/x64/Debug/Shared Code/VIVI_Syn.D8F1E292.tlog/Lib-link.write.1.tlog
Builds/VisualStudio2017/x64/Debug/Shared Code/VIVI_Syn.D8F1E292.tlog/Lib-link.read.1.tlog
Builds/VisualStudio2017/x64/Debug/Shared Code/VIVI_Syn.D8F1E292.tlog/CL.write.1.tlog
Builds/VisualStudio2017/x64/Debug/Shared Code/VIVI_Syn.D8F1E292.tlog/CL.read.1.tlog
Builds/VisualStudio2017/x64/Debug/Shared Code/VIVI_Syn.D8F1E292.tlog/CL.command.1.tlog
Builds/VisualStudio2017/x64/Debug/Shared Code/PluginProcessor.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/PluginEditor.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/json_builder.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/json.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_gui_extra.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_gui_basics.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_graphics.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_events.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_data_structures.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_core.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_utils.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_processors.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_plugin_client_utils.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_formats.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_devices.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_basics.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/genlib.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/gen_exported.obj
Builds/VisualStudio2017/VIVI_Synth_VST3.vcxproj.user
Builds/VisualStudio2017/VIVI_Synth_VST3.vcxproj.filters
Builds/VisualStudio2017/VIVI_Synth_VST3.vcxproj
Builds/VisualStudio2017/VIVI_Synth_StandalonePlugin.vcxproj.user
Builds/VisualStudio2017/VIVI_Synth_StandalonePlugin.vcxproj.filters
Builds/VisualStudio2017/VIVI_Synth_StandalonePlugin.vcxproj
Builds/VisualStudio2017/VIVI_Synth_SharedCode.vcxproj.user
Builds/VisualStudio2017/VIVI_Synth_SharedCode.vcxproj.filters
Builds/VisualStudio2017/VIVI_Synth_SharedCode.vcxproj
Builds/VisualStudio2017/VIVI_Synth.sln
Builds/VisualStudio2017/resources.rc
Builds/VisualStudio2017/.vs/VIVI_Synth/v16/Solution.VC.db
Builds/VisualStudio2017/.vs/VIVI_Synth/v16/ipch/AutoPCH/f23a7488ce6143e1/PLUGINEDITOR.ipch
Builds/VisualStudio2017/.vs/VIVI_Synth/v16/ipch/AutoPCH/3b5556c5cb7c1d8e/PLUGINPROCESSOR.ipch
Builds/VisualStudio2017/.vs/VIVI_Synth/v16/Browse.VC.db
Builds/VisualStudio2017/.vs/VIVI_Synth/v16/.suo
Builds/VisualStudio2017/.vs/VIVI_Synth/v15/Solution.VC.db
Builds/VisualStudio2017/.vs/VIVI_Synth/v15/ipch/AutoPCH/b06f40499684c964/INCLUDE_JUCE_AUDIO_PROCESSORS.ipch
Builds/VisualStudio2017/.vs/VIVI_Synth/v15/ipch/AutoPCH/94f0de524cd443ff/GEN_EXPORTED.ipch
Builds/VisualStudio2017/.vs/VIVI_Synth/v15/ipch/AutoPCH/5da11a7193e2a969/VSTCOMPONENT.ipch
Builds/VisualStudio2017/.vs/VIVI_Synth/v15/ipch/AutoPCH/5817fe3bc61b28d3/JUCE_AUDIO_DEVICES.ipch
Builds/VisualStudio2017/.vs/VIVI_Synth/v15/ipch/AutoPCH/3f9e438c57847543/PLUGINEDITOR.ipch
Builds/VisualStudio2017/.vs/VIVI_Synth/v15/Browse.VC.db
Builds/VisualStudio2017/.vs/VIVI_Synth/v15/.suo
Builds/VisualStudio2017/.vs/VIVI_Synth/v15/Browse.VC.opendb
Builds/VisualStudio2017/.vs/VIVI_Synth/v15/ipch/AutoPCH/96db2181dbbac1bb/GUIPAGE.ipch
Builds/VisualStudio2017/.vs/VIVI_Synth/v15/ipch/AutoPCH/cb507a019b4bd80e/INCLUDE_JUCE_AUDIO_UTILS.ipch
Builds/VisualStudio2017/.vs/VIVI_Synth/v15/Solution.VC.db-shm
Builds/VisualStudio2017/.vs/VIVI_Synth/v15/Solution.VC.db-wal
Builds/VisualStudio2017/x64/Debug/Shared Code/GUIPage.obj
Builds/VisualStudio2017/x64/Debug/Shared Code/VIVI_Synth.Build.CppClean.log
Builds/VisualStudio2017/x64/Debug/Standalone Plugin/VIVI_Synth.Build.CppClean.log
Builds/VisualStudio2017/x64/Debug/VST3/VIVI_Synth.Build.CppClean.log
